<h1>Listing documents</h1>

<table>
  <tr>
    <th>Filename</th>
    <th>Contents</th>
    <th>Uploaded by</th>

  </tr>

<% @documents.each do |document| %>
  <tr>
    <td><%=h document.filename %></td>
    <td><%=h document.comments %></td>
    <td><%=h document.user.name %></td>

    <td><%= link_to 'Show', document %></td>
    <td><%= link_to 'Destroy', document, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New document', new_document_path %>