<% form_for(@spin, :html => {:multipart => true}) do |f| -%>
    <p>
      <%= @spin.spinnumber %>
    </p>
    <p>
      <label for="spin_Name">
        Spin Title:
      </label>
      <%= text_field 'spin', 'Name' %>  e.g. Add new site in Sydney CBD or Upgrade nodes at JC9829
    </p>
    <p>
      <label for="spin_Descr">
        Description:
      </label>
      <%= text_field 'spin', 'Descr' %> e.g. Additional node is required to provide infill etc etc etc
    </p>
    <p>
      <%= label(:spin, :type_id, "New or Existing Site") %>
      <%= select("spin", "type_id", SpinChangeType.all.collect { |p| [p.ChangeType, p.id] }, {:prompt => 'Select Spin Type'}) %>
    </p>
    <p>
      <%= label(:spin, :reason_id, "Enter work type") %>
      <%= select("spin", "reason_id", SpinChangeReason.all.collect { |p| [p.ChangeReason, p.id] }, {:prompt => 'Select Reason'}) %>
    </p>
    <p>
      <%= label(:spin, :operator, 'Initiating Operator') %>
      <%= select("spin", "operator", Operator.all.collect { |p| [p.name] }, {:prompt => 'Select Operator'}) %>
    </p>
    <p>
      <%= label 'spin', 'initiator' %>
      <%= select("spin", "initiator", Spin.find_by_sql("select distinct initiator from v_initiators order by initiator").collect { |p| [p.initiator.to_s, p.initiator] }, {:prompt => 'Select Initiator'}) %>
    <%= submit_tag "Create" %>
<% end %>

