<% form_for :transmission_date, @new_request, :url => {:action=>'save_request', :id => @new_request.id} do |f| %>
    <table border='1'>
      <%= f.hidden_field :node_id %>
      <%= f.hidden_field :Invoice_Party %>
      <%= f.hidden_field :tx_source_programme_id %>
      <%= f.hidden_field :operator_id %>
      <%= f.hidden_field :Split_No %>
      <%= f.hidden_field :Request_No %>
      <%= f.hidden_field :Active_Node_Owner %>
      <%= f.hidden_field :Existing_Capacity %>
      <%= f.hidden_field :link_technology_id %>
      <% @req_num.each do |r| %>
          <input type="hidden" name="last_request" value="<%= r.request_no %>">
      <% end %>
      <tr>
        <td>Site ID</td>
        <td>ATM or IP</td>
        <td>Current Capacity</td>
        <td>New/Additional Capacity</td>
        <td colspan="2">Remarks</td>
      </tr>
      <tr>
        <td><%= @jv_site.jv_site %></td>
        <td><%= @new_request.link_technology.name %></td>
        <td><%= @new_request.Existing_Capacity %></td>
        <td><%= text_field :transmission_date, :Required_Capacity, :size => "3" %></td>
        <td colspan="2"><%= text_field :transmission_date, :Remarks, :size => "25" %></td>
      </tr>
      <tr>
        <td><label for='transmission_date_date_raised'>Date Raised</label>
        </td>
        <td><label for='transmission_date_date_required_by'>Date Required By</label>
        </td>
        <td><label for='transmission_date_S7_Forecast'>S7 Forecast</label>
        </td>
        <td><label for='transmission_date_S8_Forecast'>S8 Forecast</label>
        </td>
        <td><label for='transmission_date_S7_Actual'>S7 Actual</label>
        </td>
        <td><label for='transmission_date_S8_Actual'>S8 Actual</label>
      </tr>
      <tr>
        <td>
          <%= f.text_field 'date_raised'  %>
        </td>
        <td>
          <%= f.text_field 'date_required_by' %>
        </td>
        <td>
          <%= f.text_field 'S7_Forecast' %>
        </td>
        <td>
          <%= f.text_field 'S8_Forecast' %>
        </td>
        <td>
          <%= f.text_field 'S7_Actual' %>
        </td>
        <td>
          <%= f.text_field 'S8_Actual' %>
        </td>
      </tr>
    </table>
    <%= f.submit 'Upgrade ATM', :id => 'atm' %>
    <%= f.submit 'Upgrade IP', :id => 'ip' %>

<% end %>

